<nav>
  <ul class="links">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Blog", posts_path %></li>
    <li><%= link_to "Projects", projects_path %></li>
  </ul>

  <% if @user.present? && !@user.username.nil? %>
    <ul>
        <li>
          Logged in as <%= @user.username %>
          <%= link_to "Sign Out", sign_out_path, method: :delete %>
        </li>
    </ul>
  <% end %>
</nav>
