<h2>Sign Up</h2>
<%= render "widgets/resource_errors", resource: @user %>
<%= form_with model: @user, url: sign_up_path, html: {class: "form-vertical signup-form"} do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label:password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, 'Confirmation' %>
  <%= f.password_field :password_confirmation %>

  <%= f.submit %>

<% end %>
