<h1>Projects</h1>

<% @projects.each do |project| %>
  <div class="project">
    <h2><%= project.title %></h2>
    <%= markdown(project.description) %>
    <h3>Technologies Used</h3>
    <ul class="technologies">
      <% project.technologies.each do |technology| %>
        <li><%= technology %></li>
      <% end %>
    </ul>
    <% if @user.present? && @user.admin %>
      <%= link_to "edit", edit_project_path(project) %>
      <%= link_to "delete",
          project_path(project),
          method: :delete,
          data: {confirm: "are you sure?"} %>
    <% end %>
  </div>
<% end %>

<% if @user.present? && @user.admin %>
  <%= button_to "Create a new project", new_project_path, method: :get %>
<% end %>
