<h1 class="post-title"><%= @post.title %></h1>
<div class="post-show credits">
  <span class="post-show author"><%= @post.user.username %></span>
  <span class="post-show published"><%= @post.published || 'unpublished' %></span>
</div>
<div class="body posts">
  <%= markdown(@post.body) %>
</div>

<div class="admin-functions">
  <%= link_to "edit", edit_post_path(@post) %>
  <%= link_to "delete",
    post_path(@post),
    method: :delete,
    data: {confirm: "are you sure?"} %>
</div>
